@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

body {
  background-color: #87ceeb;
}

input {
  display: block;
  /* max-width: 80em; */
  /* width: 60vw; */
  /* min-width: 30em; */
  width: 100%;
  margin: 0 auto;
  outline: 0;
  border: 0;
  font-size: 20px;
  border-radius: 4px;
  padding: 4px;
  background-color: #FFEBA1;
}

:focus-visible { outline: 0 }
/* input:hover, input:focus { background-color: #fff; } */

.fade {
  animation: fade-out 10s ease-in forwards;
}

.box {
    position: relative;
    background-color: #eee;
    max-width: 80em;
    width: 60vw;
    min-width: 30em;
    height: 80vh;
    /* border: 1px solid black; */
    border-radius: 10px;
    margin: 2em auto 1em;
    padding: 2em;
}

.loader>div {
  animation: fade-out 10s ease-in forwards;
}

.logger { display: none; }

.tools {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

button {
  border: none;
  border-radius: 100%;
  width: 48px;
  height: 48px;
  font-size: 18px;
  transition: scale 0.1s;
  margin: 4px;
}

button:hover {
  transform: scale(1.1);
}

